li {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

li.selected {
  background: white;
  color: black;
}

img {
  margin-right: 1rem;
}